@model Producer

@{
    ViewData["Title"] = "Details of the producer";
}

}
<style>
    body {
        background-color: #000000;
    }

    button {
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff80;
        text-shadow: none;
        background: transparent;
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
    }

        button:hover,
        button:focus {
            color: #ffffff;
            background: #B026FF;
            border: 1px solid #008cff;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
            box-shadow: 0 0 5px #008cff, 0 0 20px #003740, 0 0 50px #003740, 0 0 100px #008cff;
        }

    /* Make text white */
    .text,
    .form-group label,
    .form-control {
        color: white;
    }

    /* Adjust input border color */
    .form-control {
        border-color: #ffffff80;
    }
</style>


<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureURL" class="control-label"></label>
                    <input asp-for="ProfilePictureURL" class="form-control" readonly />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" readonly />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    

                    <a class="btn btn-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Index")'">Show all</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>
}